<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo.dao.TopicMapper" >
  <resultMap id="BaseResultMap" type="com.demo.pojo.Topic" >
    <id column="topicId" property="topicid" jdbcType="INTEGER" />
    <result column="topicName" property="topicname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    topicId, topicName
  </sql>

  <select id="topicAll" resultMap="BaseResultMap">
    select * from topic
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from topic
    where topicId = #{topicid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from topic
    where topicId = #{topicid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.demo.pojo.Topic" >
    insert into topic (topicId, topicName)
    values (#{topicid,jdbcType=INTEGER}, #{topicname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demo.pojo.Topic" >
    insert into topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        topicId,
      </if>
      <if test="topicname != null" >
        topicName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicid != null" >
        #{topicid,jdbcType=INTEGER},
      </if>
      <if test="topicname != null" >
        #{topicname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.pojo.Topic" >
    update topic
    <set >
      <if test="topicname != null" >
        topicName = #{topicname,jdbcType=VARCHAR},
      </if>
    </set>
    where topicId = #{topicid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.pojo.Topic" >
    update topic
    set topicName = #{topicname,jdbcType=VARCHAR}
    where topicId = #{topicid,jdbcType=INTEGER}
  </update>
</mapper>